## [Start] Setting "isVerified" to default value of "false". **
$util.qr($context.args.input.put("isVerified", $util.defaultIfNull($ctx.args.input.isVerified, false)))
## [End] Setting "isVerified" to default value of "false". **
{}